.Evaluation {
    margin: 80px 200px;
    & .product-bottom {
        & .product-bottom-title {
            font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
            font-size: 1.5rem;
            & .title-item {
               margin: 15px 200px ;
                display: flex;
                justify-content: space-around;
                color: brown;
               span {
                   cursor: pointer;
               }
               & :hover{
                   color: black;
               }
            } 
        }
        & .product-bottom-detail{
            text-align: center;
            & .detail-title ,.detail-content{ 
                margin: 50px 0 10px 0;
                font-size: 1.5rem;
                & .detail-title-sub {
                    margin-top: 20px;
                    font-size: 1.2rem;
                    color: rgb(78, 73, 73);
                }
                p {
                    font-size: 1.1rem;
                }
            }
            & .detail-image{
                margin: 30px 0;
                max-width:100%;
                height: auto;
            }
        }
        & .product-bottom-benefits{
            display:flex;
            & .benefits-left{
                img{
                    border-radius: 50%;
                    font-size:20px;
                }
            }
            & .benefits-right{
                margin-left: 50px ;
                margin-top: 50px;
                & .benefits-title{
                    font-size: 1.5rem;
                }
                & .benefits-content{
                    margin-top: 20px;
                }
                & .benefits-show {
                    margin-top: 20px;
                    color:black;
                }
            }
        } 
        & .product-bottom-use{
            margin-top: 50px;
            padding-bottom: 20px;
            text-align: center;
            border: 2px solid #f6eee6;
            background:#f6eee6;
            & .use-title{
                font-size: 1.5rem; 
            }
            & .use-content{
                margin-top: 20px;
            }
        } 
    }
}