.Detail{
    margin: 110px 0px;
    .product{
        & .product-top{
            display: flex;
            font-family: "Segoe UI",Tahoma,Verdana,sans-serif;
            font-size:0.9rem;
            margin-bottom: 20px;
            margin-left: 200px;    
        }
        & .product-content{
            display: flex;
            & .product-content-left{
                width:50%;
                margin-left: 200px;
                & .image-main img {
                    width: 100%;
                }
                & .image-sub {
                    margin: 20px 0px;
                    display: flex;
                    justify-content: center;
                    img{
                        max-width:18%;
                        max-height:18%;
                        margin: 0px 5px;
                        border: 2px solid rgba(160, 147, 147, 0.836);
                        border-radius:10px;
                    }
                } 
            }
            & .product-content-right{
                margin-right: 200px;
                margin-left: 30px;
                width: 50%;
                padding-left: 20px;
                & .product-brand p{
                    text-transform: uppercase;
                    font-size: 1.0rem;
                    cursor: pointer;
                    & :hover{
                        color:rgb(231, 71, 71); 
                    }  
                }
                & .product-name{
                    margin-top: 20px;
                    font-size: 2.2rem;
                    font-family: "Noto Sans",sans-serif;
                    color: brown;
                }
                //Đánh giá hiển thị sao



                //======================================================
                & .product-des{
                    margin-top: 70px;
                    font-size: 1.0rem;
                }
                & .product-rest{
                    display: flex;
                    margin-top: 25px;
                    & .product-price {
                        h1{
                            color:rgba(10, 9, 9, 0.788);
                            font-size:2.4rem;
                        }
                        p{
                            font-size: 0.8rem;
                            color: brown;
                        }
                         
                    }
                    & .product-state{
                        margin: 20px 50px;
                        font-size: 1.3rem;
                        color: rgb(245, 40, 40);
                    }
                    & .product-number{
                        margin-left: 30px;
                        font-size:1.3rem;
                        & #spnumber {
                           padding: 10px 20px;
                           margin-top: 15px;
                           color:brown;
                           border: 3px solid black;
                           border-radius: 3px;
                        }
                    }
                }
                //Button ADD TO CART & BUY
                & .btn-addtocart{
                    margin: 70px 0; 
                    button{
                        padding: 10px 70px;
                        border: 2px solid brown;
                        margin-left: 15px;
                        background-color: brown;
                        font-size: 0.9rem;
                        border-radius: 5px;
                        color:#fff;
                        
                        i{
                            font-size: 1.2rem;
                        }
                        span{
                            margin-left: 15px;
                            
                        }    
                    }
                    & :hover{
                        background-color:#fff;
                        color: brown;  
                    }
                }
                & .hr-point{
                    text-align: center;
                    font-size: 0.9rem;
                }
                & .product-hotline{
                    span{
                        margin-left: 170px;
                    }
                }
   
            }
        }
    }
}