@import "../../variable.css";
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Pragati+Narrow&family=Sacramento&display=swap');
.Header {

  background-color: var(--background-global);
  // height: var(--height-header);
  padding: 20px 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  font-family: 'Karla', sans-serif;
  
  & .Header_Nav.nav_Mobile{
    position: absolute;
    display: block;
    visibility: hidden;
    right: -100%;
    padding: 0;
    width: 200px;
    top:calc(40px + var(--height-header));
    height: calc(100vh - var(--height-header));
    border-left: 1.5px rgba(51, 51, 51, 0.255) solid;
    border-top: 1.5px rgba(51, 51, 51, 0.255) solid;
    background-color: var(--background-global);
    transition: all ease 1s;
    border-radius: 10px 0 0 10px;
    box-shadow:-5px 10px 15px #00000062;

    & a{
      display: block;
      margin: 10px 0;
      padding: 0 20px;
    }
    & .Nav_right,.Nav_left
    {
      display: block;
    }
    & .active{
      position: relative;
      color: rgb(200, 162, 136);
      &:after {
        display: none;
      }
    }
  }
  & .mobile{  //btn hamburger
    display: none;
    
    // font-size: 30px;
    // position: absolute;
    // top:50%;
    // right: 5%;
    // transform: translateY(-50%);
  }
  & #nav_mobile{
    display: none;
  }

  & .Header_Nav {
    padding: 0px 10%;
    text-transform: uppercase;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 20px;
   letter-spacing: 1.5px;
   font-size: 16px;
    & .active{
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        color: #c2ada9;
        background-color: #eb4d4b;
        height: 3px;
        width: 98%;
        border-radius: 5px;
      }
      
    }
    & a{
      color: black;
      text-decoration: none;
      &:hover {
        color: rgb(200, 162, 136);
        transition: all 0.3s;
        cursor: pointer;
      }
    }
    
    & .Nav_right {
      display: flex;
      padding : 0 30px;
      gap: 60px;
    }
    & .Nav_left{
      gap: 40px;
      display: flex;
    }
  }
  
  & .Header_top {
    display: flex;
    padding: 0px 10%;
    // margin-bottom: 20px;
    justify-content: space-between;
    & .Header_logo {
      width: 150px;
      height: 30px;
      margin: auto 0;
    }
    & .Header_search {
      display: flex;
      width: 300px;
      height: 40px;
      margin: auto 15px;
      position: relative;
      & .Search_icon {
        text-align: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(200, 162, 136);
        &:hover {
          color: rgba(200, 162, 136, 0.488);
          cursor:pointer;
          transition: all 0.3s;
        }
      }
      & input {
        width: 100%;
        height: 100%;
        background-color: #f4e1d1;
        padding: 5px 30px;
        border-radius: 30px;
        outline: none;
        border: none;
        line-height: 40px;
       
        &:focus {
          border: 2px solid rgb(200, 162, 136);
          box-shadow: 1px 1px 10px #c1c1c191;
        }
      }
    }
    & .Header_icon {
      // width: 25%;
      display: flex;
      // text-align: end;
      align-items: center;
      gap: 60px;
      color: #333;
      list-style: none;
      font-size: 20px;
      letter-spacing: 1px;
      
        /*
       // & :hover{
          display: block;  
        }*/
        & .Header_icon-cart{
          position: relative;
          & .css-jcn4dz-MuiBadge-badge{
            margin-top: 10.5px;
            margin-right: 7px;
          }
          &:hover .Header_icon-empty {
            display: block;  
            z-index: 9999999;
          }
          & .Header_icon-notice{
            position: absolute;
          }
          // Phần giỏ hàng nhỏ ở chỗ icon giỏ hàng lúc hover vào
          & .Header_icon-empty{
            text-transform: none;
            position: absolute;
            top: 110%;
            right: -170px;
            background-color: #fff;
            width:400px;
            height:350px;
            border-radius: 2px;
            box-shadow: 0 1px 3.125rem 1px rgba(0, 0, 0, 0.2);
            display: none;
            cursor: default;
            & .Header_icon-list{
              margin: 10px 15px;
              font-size: 1.0rem;
              & .Header_icon-title{
                color:rgb(175, 170, 170);
              }
              & .Header_icon-btn{
                position: absolute;
                bottom: 8px;
                right: 20px;
                button{
                  padding: 7px 18px;
                  background-color: rgb(182, 54, 54);
                  border:2px solid rgb(189, 40, 40);
                  border-radius: 2px;
                }
                & :hover{
                  background-color:brown;
                }
              }

            }
          
          
            //Mũi tên
            & ::after{
              content:"";
              position: absolute;
              right: 165px;
              top: -25px;
              border-width: 15px 30px;
              border-style: solid;
              border-color: transparent transparent #FFF transparent;
              cursor: pointer;
            }
            & .Header_icon-no_cart{
              width: 70%;
              display: block;
              margin: auto;
              padding: 24px 0;
              margin-top: 30px;
            }
            span {
              display: block;
              text-align: center; 
            } 
          } 
        }
      
      li {
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: rgb(200, 162, 136);
          transition: all 0.3s;
        }
        
        //hamburger icon
        .burger {
         
          // visibility: hidden;
          cursor: pointer;
          width: 30px;
          height: 30px;
          
          &:hover {
            transition: all 0.5s;
            label {
              display: block;
              transition: all 0.5s;
            }
            .line {
              display: none;
              transition: all 0.5s;
            }
          }
          .line {
            display: block;
            width: 30px;
            height: 5px;
            background-color: black;
            margin: 5px;
            border-radius: 2px;
          }
          label {
            display: none;
            margin-left: 5px;
            
            cursor: pointer;
            font-size: 25px;
            .fa-hamburger {
              
              color: #333;
   
            }
          }
        }
        
      }
      
      & a{
        color: #333;
        text-decoration: none;
        &:hover {
          color: rgb(200, 162, 136);
          transition: all 0.3s;
        }
      }
    }
  }
}
#nav_mobile:checked ~ .nav_Mobile{
  visibility: visible;
  transition: all ease 0.5s;
  right: 0;
}