@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&family=Sacramento&display=swap');
@import "../../variable.css";

.Login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background-global);
    .login-form {
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
        display: flex; 
        width: 745px;
        height: 538px;
        .login-left {
            width: 395px;
            height: 100%;
            background-color: rgb(245, 155, 124);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 8%;
            .content {
                h3 {
                    color: #fff;
                    font-family: 'Pragati Narrow', sans-serif;
                    font-size: 36px;
                    margin-bottom: 15px;
                    font-weight: 400 !important;
                }
                p.welcome {
                    font-size: 26px;
                    margin-bottom: 15px;
                    font-family: 'Sacramento', cursive;
                }
                p.text-introduce {
                    font-size: 11px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: #fff;
                    margin-bottom: 15px;
                }
                .icon {
                    i.fab {
                        font-size: 24px;
                        margin-right: 8px;
                    }
                }
            }
        }
        .login-right {
            width: 350px;
            height: 100%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 8%;
            .content {
                text-align: center;
                p.hellothere {
                    font-family: 'Sacramento', cursive;
                    font-size: 36px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .login_form{
                    
                    .form-group {
                        margin-bottom: 15px;
                        input {
                            padding-left: 10px;
                            width: 265px;
                            height: 35px;
                            outline: none;
                            border: none;
                            border-radius: 5px;
                            box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.14);
                            // cursor: pointer;
                            &::-webkit-input-placeholder {
                                color: rgba(51, 51, 51, 0.6);
                            }
                        }
                    }
                    p.forgot-password {
                        cursor: pointer;
                        text-align: end;
                        font-size: 11px;
                        color: rgb(222, 120, 86);
                        &:hover {
                            text-decoration: underline;
                            color: rgb(245, 155, 124);
                            transition: all 0.3s;
                        }
                    }
                    button.form-submit { //login
                        width: 265px;
                        height: 35px;
                        color: #fff;
                        background-color: rgb(222, 120, 86);
                        margin-bottom: 10px;
                        &:hover {
                            background-color: rgb(245, 155, 124);
                            transition: all 0.3s;
                        }
                    }
                    p.sign-up {
                        margin-bottom: 15px;
                        font-size: 12px;
                        .signup {
                            color: rgb(245, 155, 124);
                            text-decoration: none;
                            font-size: 14px;
                            &:hover {
                                text-decoration: underline;
                                color: rgb(222, 120, 86);
                                transition: all 0.3s;
                            }
                        }
                    }
                    .btn {
                        width: 130px;
                        height: 35px;
                        font-size: 14px;
                        font-family: 'Pragati Narrow', sans-serif;
                        margin-top: -5px;
                        color: #fff;
                        background-color: rgb(222, 120, 86);
                        outline: none;
                        border: none;
                        border-radius: 30px;
                        
                    }

                    .signin-fb-gg {
                        display: flex;
                        justify-content: space-between;
                        .btn-fb, .btn-gg {
                            background-color: #fff;
                            border: 2px solid rgb(222, 120, 86);
                            color: #333;
                            font-size: 11px;
                            &:hover {
                                border: 2px solid rgba(222, 120, 86, 0.564);
                                transition: all 0.2s;
                            }
                        }
                    }

                }
            }
            
        }
    }
}
